<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kairo.holokit" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HoloKit</name>
    <description>
        Never miss streams from your favorite Hololive members!
    </description>
    <author email="itokairo.zc@gmail.com">
        Kairo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="orientation" value="portrait" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="www/assets/ic_launcher.png" platform="ios" width="57" height="57" density="mdpi" />
</widget>
